 *{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
  padding-left: 10%;
  padding-right: 10%;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: left;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

input[type=text]{
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
  box-shadow: 0 0 5px black;
}

input[type=email]{
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 5px black;
}

label{
	color: #000;
	display: block;
	margin-bottom: .2em;
  font-size: 20px;
}

fieldset{
	border: 0;
	margin: 0;
	padding-bottom: 1em;
  padding-left: 1%;
  padding-right: 1%;
}

.campo-medio{
	width: 50%;
	float: left;
}

.campo-medio:nth-child(even){
	padding-right: .5em;
}

.campo-medio:nth-child(odd){
	padding-left: .5em;
}

#voltar-inicial, #adicionar-cliente{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
}

button:active{
	margin-top:0px;
	border: 0;
}

#adicionar-cliente{
    margin-left: 80%;
}
#voltar-inicial{
    margin-top: 1%;
}

#h2{
  text-align: center;
}

#center2-botao{
  padding-left: 12px;
}

#center-botao{
      padding-right: 12px;
}

#exclui-cliente {
  padding: .5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color:#CC0000;
  border-color: #04324c;
}

#alterar-cliente {
  padding: .5em 2em;
  border: 0;
  border-bottom: 3px solid;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0;
  margin-top: -3px;
  color: #fff;
  background-color:#000000;
  border-color: #04324c;
}
